@import "../../../../colors";

#bg-box {
  width: 100vw;
  height: 100vh;
  background-image: url("../../../../assets/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  position: relative;

}

header {
  color: $light;
  text-align: center;
  padding: 15px;
  width: 100%;
  max-width: 1280px;

  .title {
    //padding-top: 50px;
    font-size: 8em;
    width: fit-content;
    text-shadow: 0 0 9px rgba(150, 150, 150, 1);
  }

  .subtitle {
    font-size: 1.2em;
    letter-spacing: .1em;
    color: $light-mid;
  }
}
