<nav fxLayout="row" fxLayoutAlign="space-between stretch" fxLayoutAlign.gt-sm="center stretch"
     ngClass.gt-sm="full-screen-menu"
     #stickyMenu
     [class.sticky]="sticky" [class.transparent]="!sticky">

  <div class="ornament ornament-right">
    <div class="top"></div>
    <div class="bottom"></div>
  </div>
  <div class="ornament ornament-left" ngClass.lt-md="d-none">
    <div class="top"></div>
    <div class="bottom"></div>
  </div>

  <div id="name" fxFlexOrder.lt-md="2" fxFlex="50" fxFlex.gt-sm="40">
    <img src="assets/amalinowska_name.svg" alt="amalinowska" [fxFlexOffset.gt-sm]="margin + 'px'">
  </div>

  <div id="logo" fxFlexOrder.lt-md="1" fxFlex="20">
    <a routerLink="/"><img src="assets/amalinowska_logo.svg" alt="Aleksandra Malinowska Logo"></a>
  </div>

  <div id="menu-icon" ngClass.gt-sm="d-none" fxFlex="20" fxFlexOrder="3" (click)="openMenu()">
    <div id="icon-holder"><i class="bi bi-three-dots-vertical absolute-center"></i></div>
  </div>

  <div id="menu" fxFlexOrder="4" fxFlex.gt-sm="40" [class.menu-opened]="isMenuOpened" fxLayout.gt-sm="column"
       fxLayoutAlign.gt-sm="center stretch">
    <div id="menu-list" fxLayout="column" fxLayout.gt-sm="row no-wrap" fxLayoutAlign="center stretch"
         [ngStyle]="{'margin-right.px': margin}">

      <a routerLink="/" fragment="about" SimpleSmoothScroll scrollTo="about" [duration]="500"
         routerLinkActive="active-link">
        <span>About</span>
      </a>

      <a class="disabled">
        <!--      <a routerLink="/projects" routerLinkActive="active-link">-->
        <span>Projects</span>
      </a>

      <a routerLink="/" fragment="contact" SimpleSmoothScroll scrollTo="contact" [duration]="500"
         routerLinkActive="active-link">
        <span>Contact</span>
      </a>

    </div>
  </div>
</nav>
