<nav fxLayout="row wrap" fxLayoutAlign="center stretch" ngClass.gt-md="full-screen-menu">

  <div id="name" fxFlexOffset.gt-md="7" fxLayout="column" fxLayoutAlign="center end" fxFlexOrder.gt-md="1"
       fxFlexOrder.lt-lg="2" fxFlex.lt-lg="50"></div>
  <div id="logo" fxFlexOrder.gt-md="2" fxFlexOrder.lt-lg="1" fxFlex.lt-lg="20"></div>

  <div id="menu-icon" ngClass.gt-md="d-none" fxFlexOrder="3" fxFlex="20" (click)="openMenu()"></div>
  <ng-container *ngIf="isMenuOpened">
    <div id="menu" fxFlex fxLayout="row no-wrap" fxLayoutAlign="start stretch" fxFlexOrder="4">
      <img ngClass.lt-lg="d-none" src="../../../../assets/menu_bg.png" alt="">
      <div fxFlex="">
        <!--      <a class="menu-item"><img src=""/></a>-->
        <a>CV</a>
        <a>Galeria</a>
        <a>Projekty</a>
        <a>Główna</a>
      </div>
    </div>
  </ng-container>
</nav>
