$background-color: #305878;
* {
  transition-duration: 300ms;
}

.background-icon {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

nav {
  height: 8vh;
  position: fixed;
  top: 0;
  z-index: 10000;
  width: 100%;
  background-color: #333;

  #name {
    @extend .background-icon;
    background-image: url("../../../../assets/site_name_small_black.png");
    max-width: 45%;
    height: 4vh;
    margin-top: 2vh;
    width: 400px;
  }

  #logo {
    @extend .background-icon;
    background-image: url("../../../../assets/only_logo_small.png");
    background-size: auto 70%;
    background-position: left;
  }

  #menu-icon {
    @extend .background-icon;
    background-image: url("../../../../assets/menu_icon.png");
    background-size: auto 3vh;
    background-position: center right;
  }

  #menu {
    background-color: #333;
    color: #fff;
    position: fixed;
    top: 8vh;
    width: 100%;

    #menu-list a {
      display: block;
      width: 95%;
      height: 30px;
      margin: 10px 5px 10px 5%;

      &:link, &:visited {
        color: #fff;
      }

      &:hover {
        cursor: pointer;
      }

      img {
        height: 70%;
        width: auto;
        margin: 0 10px;
      }
    }
  }
}


nav.full-screen-menu {
  height: 10vh;
  top: 30px;
  background-color: transparent;

  #name {
    max-width: 100%;
    background-image: url("../../../../assets/site_name_small.png");
    margin-top: 3vh;
  }

  #logo {
    background-position: center;
  }

  #menu {
    background-color: transparent;
    position: relative;
    width: auto;
    margin: 10px 0;
    top: 0;

    img {
      height: 100%;
      max-height: 100px;
      width: auto;
    }


    #menu-list {
      height: 100%;
      max-height: 100px;
      background-color: $background-color;
    }

    #menu-list a {
      display: block;
      width: 20%;
      height: 100%;
      margin: 0 5% 0 0;
      font-weight: bold;
      position: relative;
      //border: 1px solid violet;

      &:link, &:visited {
        color: #fff;
      }

      img {
        display: block;
        height: 50%;
        width: auto;
        margin: 14px auto 0;
      }

      span {
        display: none;
      }


      &:hover {
        cursor: pointer;
        text-decoration: none;

        span {
          display: block;
          position: absolute;
          bottom: 10px;
          width: 100%;
          text-align: center;
        }

        img {
          height: 40%;
          margin-top: 8px;
        }
      }


    }
  }
}


img {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}

.active-link {
  border-bottom: 4px solid #fff;
}

nav.full-screen-menu.sticky {
  top: 0;
  background-color: #444;
  height: 6vh;

  #name {
    background-image: url("../../../../assets/site_name_small_black.png");
    margin-top: 1.5vh;
    height: 3vh;
  }

  #menu {
    margin: 0;

    #menu-list a:hover {
      span {
        bottom: 5px;
      }

      img {
        //margin-top: 3px;
      }
    }
  }

}
