* {
  transition-duration: 200ms;
}

footer {
  width: 100%;
  background-color: #222;
  //min-height: 40vh;
  padding: 20px 0;

  #footer-top {
    div {
      background-color: #2a2a2a;
      min-height: 150px;

      a {
        font-size: 110%;
      }
    }
  }


  #footer-bottom {
    text-align: center;

    div:first-child {
      font-size: 85%;
    }

    #socials a {
      margin: 0 5px;
    }
  }
}
