<footer fxLayout="column" fxLayoutAlign="space-between stretch">
  <div id="footer-top" fxLayout="column" fxLayout.gt-xs="row no-wrap" fxLayoutAlign="center stretch"
       fxLayoutAlign.gt-xs="space-around stretch" class="all-center">
    <div fxLayout="row" fxLayoutAlign="center center" class="p-2 m-3" fxFlex>
      <img src="../../../../assets/only_logo_small.png" alt="am_logo"/>
      <h3 class="text-secondary font-weight-light ml-3">Aleksandra<br>Malinowska</h3>
    </div>
    <div fxLayout="column" fxLayoutAlign="center center" class="p-2 m-3" fxFlex>
      <i class="fa fa-envelope-o text-light fa-3x mb-2"></i>
      <a href="mailto:amalinowska423@gmail.com" target="_blank" class="text-light font-weight-light">amalinowska423@gmail.com</a>

    </div>
  </div>
  <hr class="bg-dark w-75 ml-auto mr-auto mb-2 mt-2">
  <div id="footer-bottom" fxLayout="column-reverse" fxLayout.gt-xs="row no-wrap" fxLayoutAlign="center center"
       fxLayoutAlign.gt-xs="space-around center">
    <div class="text-muted font-weight-light">&copy; 2020. Aleksandra Malinowska. Wszystkie prawa zastrzeżone.</div>
    <app-social-icons size="22" class="grey"></app-social-icons>
  </div>
</footer>
