<div class="all-center">
  <div class="img-wrapper" id="about-wrapper">
    <div class="photo-fixed" id="about-photo" (scroll)="movePhoto($event)">
    </div>
  </div>
  <div class="sub-photo">
    <img src="assets/am_sub.JPG" alt="art hotel wrocław">
  </div>
  <div class="text-wrapper ">
    <div class="section-title">
      <h2>Aleksandra</h2>
      <hr>
      <h2>Malinowska</h2>
    </div>
    <div class="section-text">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec varius, nibh vel aliquet mollis, dolor nunc
        consequat est, nec imperdiet enim magna nec massa. In id quam quis purus iaculis imperdiet eget at lacus. Nunc
        vitae tortor eget justo porttitor consectetur quis vel elit. Aenean magna velit, tincidunt vel est hendrerit,
        pretium rhoncus dolor.
      </p>
    </div>
  </div>
</div>
