<div class="all-center">
  <div class="img-wrapper" id="about-wrapper">
    <div class="photo-fixed" id="about-photo" (scroll)="movePhoto($event)">
    </div>
  </div>
  <div class="sub-photo">
    <img src="assets/am_sub.JPG" alt="art hotel wrocław">
  </div>
  <div class="text-wrapper ">
    <div class="section-title">
      <h2>Aleksandra</h2>
      <hr>
      <h2>Malinowska</h2>
    </div>
    <div class="section-text">
      <p class="pb-2">I'm a full of energy, passionate and resourceful web developer. I'm great at working in a team and
        I'm
        constantly
        looking for a field to grow, learn and evolve. Therefore currently I'm looking for a place where I will
        have a chance to do that and gain some new experience along the way.
      </p>
      <app-social-icons size="24" class="secondary"></app-social-icons>
    </div>
  </div>
</div>
