header {
    height: 80vh;
}

.go-back-to-home {
    min-height: 100px;
}

.go-back-to-home a:link, .go-back-to-home a:visited {
    display: block;
    margin: auto;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    font-variant: small-caps;
    text-transform: uppercase;
    font-size: 120%;
    font-family: var(--main-header-font);
    width: 40%;
    background-color: var(--main-color-theme);
    color: var(--main-color);
    border: 1px solid var(--main-color-theme);
}

.go-back-to-home a:hover {
    color: var(--main-color-theme);
    background: none;
}

.project-section-title {
    text-align: left;
    font-size: 140%;
    margin: 10px auto;
}

.project-section-content {
    text-align: justify;
    text-indent: 12px;
    margin: 10px 15px;
}

.project-section-content > a:link, a.project-section-content > a:visited {
    text-decoration: none;
    font-weight: bold;
    color: var(--main-color-dark);
    font-style: italic;
}

.project-section-content > a:hover {
    opacity: .9;
    color: var(--main-color-dark);
}
@media screen and (max-width: 768px) {
    .go-back-to-home a:link, .go-back-to-home a:visited {
        width: 90%;
    }

    .main-article {
        margin: 0;
        padding: 0;
    }

    .gist {
        width: 85vw;
    }
}
