@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Rajdhani|&display=swap');
header {
    --header-title-font: 'Open Sans Condensed', sans-serif;
    --header-subtitle-font: 'Rajdhani', sans-serif;
    --header-light-color: #FFF;
    height: 85vh;
    position: relative;
    background-image: url("../img/main_photo_3.jpg");
    background-position: bottom;
}

.header-title {
    font-family: var(--header-title-font);
    font-weight: 100;
    margin: 0 auto 35px;
    font-size: 300%;
}

.header-subtitle {
    font-family: var(--header-subtitle-font);
    font-size: 155%;
}

#title-container {
    text-align: center;
    font-weight: lighter;
    padding: 55px 20px;
    border: 1px solid var(--header-light-color);
    min-width: 300px;
    width: 40%;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}