* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --main-basic-font: 'Times New Roman';
    --main-header-font: 'Helvetica';
}

.basic-font {
    font-family: var(--main-basic-font);
}

.header-font {
    font-family: var(--main-header-font);
}

.center {
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

body {
    width: 100%;
}

.photo-background {
    background-color: #99b3e6;
    background-attachment: fixed;
    background-clip: border-box;
    background-position: center;
    background-size: 100% auto;
}