@import url('https://fonts.googleapis.com/css?family=PT+Sans|Rajdhani|&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --main-basic-font: 'PT Sans', sans-serif;
    --main-header-font: 'Rajdhani', sans-serif;
    --main-background-color: #fff;
    --main-background-color-dark: #444;
    --main-color: #fff;
    --main-color-dark: #222;
    --main-color-theme: #0099e6;
}

.basic-font {
    font-family: var(--main-basic-font);
}

.header-font {
    font-family: var(--main-header-font);
}

.full-width {
    width: 100%;
}

.center {
    width: 100%;
    max-width: 1200px;
    margin: auto;
}

body {
    width: 100%;
}

.photo-background {
    background-color: var(--main-background-color-dark);
    background-attachment: fixed;
    background-clip: border-box;
    background-position: center;
    background-size: auto 100%;
    color: var(--main-color);
    background-blend-mode: overlay;
}

.no-photo-background {
    background-color: var(--main-background-color);
    color: var(--main-color-dark);
}

.main-section {
    min-height: 200px;
    padding: 25px;
}

.main-section::after {
    content: '';
    clear: both;
    display: table;
}

.section-title {
    font-family: var(--main-header-font);
    font-size: 190%;
    font-weight: bold;
    margin: 25px 0;
    position: relative;
    z-index: 0;
}

.photo-section-title {
    text-align: center;
    color: var(--main-color-theme);
    font-family: var(--main-header-font);
    font-size: 3.5em;
    font-weight: bolder;
    margin: 0 0 25px;
    font-variant: small-caps;
}

.section-title::after {
    content: '';
    max-width: 70%;
    width: 325px;
    height: 20px;
    background-color: var(--main-color-theme);
    display: block;
    position: absolute;
    bottom: -3px;
    left: 45px;
    z-index: -1;
}

.main-article {
    border: 1px solid var(--main-color);
    padding: 20px;
    text-align: justify;
    font-family: var(--main-basic-font);
}

.no-photo-background .main-article {
    /*border: 1px solid var(--main-color-dark);*/
}

.article-title {
    font-size: 140%;
    text-align: center;
    margin-bottom: 20px;

}

.article-content {
    font-family: var(--main-basic-font);
    font-size: 110%;
    margin: 0 5px;
}

.article-link-button {
    width: 90%;
    height: 40px;
    margin: 30px 5% 0;
}

.article-link-button > a:link, .article-link-button > a:visited {
    display: block;
    width: 100%;
    height: 100%;
    border: 1px solid var(--main-color-theme);
    color: var(--main-color-theme);
    font-size: 100%;
    text-transform: uppercase;
    text-align: center;
    line-height: 38px;
    text-decoration: none;
    font-weight: bolder;
}

.article-link-button > a:hover {
    background-color: var(--main-color-theme);
    color: var(--main-color);
    font-weight: lighter;
    transition-duration: 0.35s;
}



.column {
    display: block;
    float: left;
}


.section-col-3 > .column, .section-col-2 > .column, .section-col-5 > .column {
    width: 100%;
    margin: 20px 0;
}

#gallery {
    display: none;
}
