@media screen and (max-width: 768px) {
    .photo-background {
        background-size: auto 100%;
    }

    .section-col-3 > .column, .section-col-2 > .column, .section-col-5 > .column {
        width: 100%;
        margin: 20px 0;
    }

    .section-title::after {
        left: 45px;
    }

    article.social-icon {
        width: 45%;
        margin: 20px 2.5%;
    }
    #profile-photo {
        max-width: 90%;
        width: 90%;
        height: auto;
        margin: 20px auto;
    }

    #profile-photo + article {
        width: 90%;
        margin: auto;
    }
}