#profile-photo {
    display: block;
    float: right;
    height: 250px;
    max-width: 40%;
}

#profile-photo + article {
    width: 60%;
    float: left;
}

#profile-photo .article-content {
    font-size: 120%;
}

#projects-section {
    background-image: url("../img/projects.jpg");
}