//$light-blue: rgba(100, 180, 243, 1);
$light-blue: #64b5f5;
$silver: rgba(132, 140, 142, 1);
$dark-blue: #09a0de;
//$dark-blue: rgba(34, 72, 112, 1);
$light-green: #0db08f;

$primary: $dark-blue;
$secondary: $light-blue;
$accent: $light-green;

$light: #fcfcfc;
$dark: #222;

$lighter: #fff;
$light-mid: #f0f0f0;
$darker: #1d1d1d;
$dark-mid: #2f3132;
$grey: $silver;

$colors: (
  "primary": $primary,
  "secondary": $secondary,
  "accent": $accent,
  "light": $light,
  "dark": $dark,
  "lighter": $lighter,
  "light-mid": $light-mid,
  "darker": $darker,
  "dark-mid": $dark-mid,
  "grey": $grey
);


@each $color, $hex in $colors {
  .bg-#{$color} {
    background-color: $hex !important;
  }

  .text-#{$color} {
    color: $hex;
  }
}
