@import '~bootstrap/dist/css/bootstrap.css';

$primary: #0591c7;
$secondary: #64b4f3;
@import '../node_modules/bootstrap/scss/bootstrap';
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.all-center {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
}
