@import '~bootstrap/dist/css/bootstrap.css';

$primary: #0591c7;
$secondary: #64b4f3;
@import '../node_modules/bootstrap/scss/bootstrap';
@import "colors";

@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700;800&display=swap');
//@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&display=swap');


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Nanum Gothic', sans-serif;
}

html, body {
  width: 100%;
  background-color: $dark;
}

h1, h2, h3, h4, h5, h6 {
  //font-family: 'Nanum Myeongjo', serif;
  //font-family: 'Poiret One', cursive;
  font-family: 'Caveat', cursive;
}

.all-center {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 0;
}

body::-webkit-scrollbar-track {
  background: $light;
  width: 0;
}

body::-webkit-scrollbar-thumb {
  background-color: $dark-blue;
  outline: none;
  border-radius: 12px;
  width: 0;
}

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
